https://github.com/serengil/deepface_models/releases/download/v1.0/race_model_single_batch.h5
download and place in 'weights' folder

pip install:

numpy
opencv-python
keras
matplotlib
tensorflow

python version: 3.11.5